<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-Security-Policy" content="" />

    <title>DD-Foundation - Index</title>
    <!-- Favicons -->
    <!--link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon"-->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div
            class="col-xl-9 d-flex align-items-center justify-content-lg-between"
          >
            <h1 class="logo me-auto me-lg-0"><a href="/">DD-Foundation</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
              <ul class="">
                <li><a
                    class="nav-link scrollto active"
                    href="/#hero"
                  >Home</a></li>
                <li class="dropdown">
                  <a href="#about"><span>About</span>
                    <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="/our-story">Our Story</a></li>
                    <li><a href="/leadership">Leadship</a></li>

                  </ul>
                </li>
                <li><a class="nav-link scrollto" href="/#cra">Become A Volunteer</a></li>
                <li><a
                    class="nav-link scrollto"
                    href="/#donation"
                  >Donation</a></li>
                <li><a
                    class="nav-link scrollto"
                    href="/#contact"
                  >Contact</a></li>

              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <a href="/#about" class="get-started-btn scrollto">Get Started</a>
          </div>
        </div>

      </div>
    </header><!-- End Header -->
    <!-- End Header -->
    {{{body}}}
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>DD-Foundation</h3>
        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni
          eligendi fuga maxime saepe commodi placeat.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright
          <strong><span>DD-Foundation</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#hero"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bx bxs-chevrons-up"></i></a>

    <!-- Vendor JS Files -->
    <script
      src="/vendor/bootstrap/js/bootstrap.bundle.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/vendor/glightbox/js/glightbox.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/vendor/isotope-layout/isotope.pkgd.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/vendor/purecounter/purecounter.js"
      type="text/javascript"
    ></script>
    <script
      src="/vendor/swiper/swiper-bundle.min.js"
      type="text/javascript"
    ></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js" type="text/javascript"></script>

  </body>

</html>