<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- ======= Breadcrumbs ======= -->
    {{> pages/bread_crumbs }}
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <p>
                Example inner page template
            </p>
        </div>
    </section>

</main><!-- End #main -->