<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    {{> pages/bread_crumbs }}
    <!-- End Breadcrumbs -->

    <section class="section">
        <div class="container">
            <p style="font-size: large">
                DD-Foundation is set up to help financially and emotionally in issues concerning children, since we are a starting out, our focus will be in helping the lives of children in Zaria and -----. We assist in various area ranging from education resources, advice, health care assistance, awareness of emerging issues that affects the lives of children and also rasing funds for various issues.
                We are commited as an organisation and a family, with the partnership from other institute, both international and local, family friends and relations
                to combat the challenges that children accross Nigeria face and to provide a sustainable solution to addressing issues influencing the lives of kids in Nigeria and Africa. Our Foundation is currently lead by Prof Christogonus Daudu and family.

                <div class="mt-2" style="font-size: large">
                    DD-Foundation was created to help save lives of children, provide issues to challenges that confront the africa children and also to honour our mother Cecilia Dada Olaitan Daudu.
                    The Foundation was institued on the character and ideology of our late mother, whom in her own way showed love to children, cared about the welfare of children within every location she found herself in. Therefore in order to honour her sacrifice, we decided to
                    create a charity organisation that will function based on the ideologies of love, sacrifice and enpowering the coming generations.
                </div>

                <h3 class="mt-5" style="text-transform:uppercase"><span>Cecilia Dada Olaitan Daudu's Biography </span></h3>
                <div class="mt-2" style="font-size: large">
                    Our mother, Cecilia Dada Olaitan Daudu (nee Ogunmola) was born on October 4, 1944 to Late Pa Richard Ogunmola Daomi of the Eni quarters in Ogori Kogi State and Late Ma Olajuwontan Ejemu Adeleye from Okeese in Ibokun, Osun State. At the time of her death, she was seventy-four years.
                    Late Papa Richard  and Ma Olajuwontan both met at Ibadan. However, with the demise of Ma Olajuwontan at an early age, Mama Cecilia Daudu spent her early childhood and primary school years both at Ogori and with her Uncle Late Chief Victor Omole, at Okene. She briefly stayed with another cousin, Ireti where she learnt typing. After which she lived briefly with her Dad at Idah.
                    She got married to her husband Late Pa Formular John Adeomo Daudu of Okesi quarters, Ogori in 1965, whom she had previously met at Kabba.  Mummy Daudu worked with the catering unit of Ahmadu Bello University, Zaria for several years before she disengaged. She ran a private restaurant for a while after retirement, as well as engaged in varied trading activities. Her whole happiness lay in seeing her children grow up in good health, and she was willing to do any amount of work to achieve that goal. That's the kind of mother she was. The marriage is blessed with six children and many grandchildren.
                </div>

                <div class="mt-3" style="font-size: large">
                    One of the many things we can say of our mother is that she loved her family and the people that came her way. She would always characteristically do without, so that her children could have more. At times she went as far as even converting her high value clothing for use by her children. No sacrifice was too great to be made for her children. She was dedicated to caring for her children and others around her. Mom welcomed everyone to her home, we are yet to meet an Ogorian with whom she was not able to define some form of kinship.
                    A committed Christian, she would be remembered for the genuine love she showered on her fellow humans while on earth.
                    She is survived by her children, grandchildren, brothers and sisters
                </div>

            </p>
        </div>
    </section>
    <!-- mission commitment-->
    <section class="section">
        <div class="container">
            <h2>OUR MISSION</h2>
            <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
</main>
<!-- End #main -->