

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/home">Home</a></li>
                    <li>Error Page</li>
                </ol>
                <h2>Error Page</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <p class="text-center" style="font-size:1rem">
                    Page Not Found
                </p>
            </div>
        </section>

        <section class="inner-page">
            <div class="container">
                <div class="text-center">
                    <div class="error mx-auto display-1 h1" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5 display-2 h3">Page Not Found</p>
                </div>
            </div>
        </section>

    </main>
    

   