<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="/home">Home</a></li>
            <li>{{ bread_crumb_title}}</li>
        </ol>
        <h2>{{ bread_crumb_title}}</h2>

    </div>
</section>